/* Reset */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page background */
body {
  /* background: linear-gradient(135deg, #667eea, #764ba2); */
  background-image: url(heart\ red.jpg);
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

/* Main container */
.container {background: rgba(255, 255, 255, 0.2); /* semi-transparent background */
  backdrop-filter: blur(10px);           /* blur whatever is behind */
  -webkit-backdrop-filter: blur(10px);
  max-width: 720px;
  margin: 60px auto;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/* Title */
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: white;
}

/* Form layout */
form {
  
  display: flex;
  flex-direction: column;
}

/* Labels */
label {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 14px;
  color: white;
  
}

/* Inputs & selects */
input,
select {
  background: transparent;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid #570303;
  font-size: 14px;
  transition: 0.2s ease;
  color: white;
}

input:focus,
select:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.4);
}

/* Button */
button {
  margin-top: 20px;
  padding: 12px;
  background: #667eea;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: #5563d6;
}

button:disabled {
  background: #999;
  cursor: not-allowed;
}

/* Result box */
.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.result.success {
  background: #e6f7ec;
  color: #2e7d32;
  border: 1px solid #2e7d32;
}

.result.error {
  background: #fdecea;
  color: #c62828;
  border: 1px solid #c62828;
}





























/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
